---
layout: default
title: Matteo Flora -  innovatore,  imprenditore e lifehacker
---
{% for post in site.posts limit:5 %}
  <h2 id="intro"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="post">
  {{ post.content }}
  <p class="signoff">
<div class="fb-like" data-href="{{ post.url }}" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>    &raquo; {{ post.date | date: "%d/%m/%Y" }} con tag:
		{% for tag in post.tags %}
			<a href="/tag/{{ tag }}">{{ tag }}</a>
		{% endfor %}
  </p>
  </div>
{% endfor %}
