---
layout: default
---
<h2 id="intro">{{ page.title }}</h2>
<article class="post">
{{ content }}
<div class="fb-like" data-href="{{ page.url }}" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
<time class="signoff" datetime="{{ page.date | date: "%Y-%m-%d" }}">
  {{ page.date | date: "%d/%m/%Y" }} com i tag:
	{% for tag in page.tags %}
		<a href="/tag/{{ tag }}">{{ tag }}</a>
	{% endfor %}
</time>
</article>
<div id="disqus_thread"></div>
{% include comments.html %}